.main-content{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:
    linear-gradient(to bottom right, #3C4BBD 15%, transparent),
    radial-gradient(circle at 100% 0%, rgba(255,255,255,.2) 10%, transparent 20%) center center / 15px 15px,
    linear-gradient(to bottom right, #3C4BBD, #57ADD8);
}
.heading {
    margin-top: 40px;
    margin-left: -5px;
    text-align: center;
    font-weight: 700;
}
.add-books{
    position: relative;
    justify-content: center;
    height: 450px;
    width: 400px;
    padding-right: 15px;
    padding-left: 15px;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    border-radius: 10px;
    box-shadow: 0px 0 15px 0 rgb(166, 193, 238, 0.5);
    transition: .3s;
}
.add-books:hover{
    box-shadow: 0px 0 30px 0 rgb(166, 193, 238, 0.8);
}
.action-form{
    margin: 25px 40px 40px 20px;
    font-weight: 600;
}
.input-content {
    height: 20px;
    display: block;
    width: 100%;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-shadow: none;
    font-size: 14px;
    margin-left: -3px;
    margin-top: 15px;
    padding: .675rem .75rem;
}
.submit-btn{
    margin-top: 10px;
    margin-left: 18%;
    background: rgba(74, 42, 233, 0.7);
    border: 0;
    height: 40px;
    width: 70%!important;
    padding: 10px 35px;
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
    font-weight: 600;
}
.submit-btn:hover{
    background: rgba(74, 42, 233);
    cursor: pointer;
}